name: Monthly Automation Check
on:
  push:
    branches:
      - main

# Set global environment variables
env:
  ASSIGNEES_GH: sagun-karki
  ASSIGNEES_TEAMS_EMAILS: 'skarki@netad.unl.edu'
  ISSUE_LABELS: ""
  PINNED: false
  CLOSE_PREVIOUS: false

jobs:
  calculate_date:
    runs-on: ubuntu-latest
    name: Calculate Date
    outputs:
      month: ${{ steps.date.outputs.month }}
      year: ${{ steps.date.outputs.year }}
    steps:
      - id: date
        run: |
          echo "month=$(date +'%B')" >> $GITHUB_OUTPUT
          echo "year=$(date +'%Y')" >> $GITHUB_OUTPUT
  
  create_issue:
    name: Create Monthly Check
    needs: calculate_date
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    env:
      MONTH_YEAR: ${{ needs.calculate_date.outputs.month }} ${{ needs.calculate_date.outputs.year }}
      CURRENT_TITLE: Monthly Automation Check ${{ needs.calculate_date.outputs.month }} ${{ needs.calculate_date.outputs.year }}
    steps:
      # Step 1: Checkout the repo to access the issue body file
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create Issue and Handle Previous
        id: issue
        run: |
          # Read the body content from the file into a variable
          ISSUE_BODY_CONTENT=$(cat .github/ISSUE_TEMPLATE/automatic_issue_creation_BODY.md)

          
          # Close previous issue if enabled
          if [[ "${{ env.CLOSE_PREVIOUS }}" == "true" ]]; then
            previous_issue_number=$(gh issue list \
              --label "${{ env.ISSUE_LABELS }}" \
              --state open \
              --json number \
              --jq '.[0].number')
            if [[ -n $previous_issue_number ]]; then
              gh issue close "$previous_issue_number"
              gh issue unpin "$previous_issue_number"
            fi
          fi
          
          # Create new issue using the variable for the body
          new_issue_url=$(gh issue create \
            --title "$CURRENT_TITLE" \
            --assignee "$ASSIGNEES_GH" \
            --label "$ISSUE_LABELS" \
            --body "$ISSUE_BODY_CONTENT") # <-- Using the variable here
          echo "url=$new_issue_url" >> $GITHUB_OUTPUT
          
          # Pin new issue if enabled
          if [[ "${{ env.PINNED }}" == "true" ]]; then
            gh issue pin "$new_issue_url"
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          
    
